body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  top:0px;
  left:0px;
  background-size: 100% 100%;
  margin: 0px;
}
@font-face {
   font-family: sam;
   src: url('fonts/futura-light-condensed-bt-595e133b1a4ff.ttf');
}
@font-face {
   font-family: sama;
   src: url('fonts/HelveticaRounded-Bold.otf');
}
@font-face {
   font-family: samaa;
   src: url('fonts/futura-light-condensed-bt-595e133b1a4ff.ttf');
}
@font-face {
   font-family: ubuntu;
   src: url('fonts/Ubuntu-Bold.ttf');
}
@font-face {
   font-family: myFont;
   src: url('fonts/Artifika-Regular.ttf');
}
@font-face {
   font-family: rom;
   src: url('fonts/Rom.ttf');
}
@font-face {
   font-family: rio;
   src: url('fonts/TrajanPro-Regular.ttf');
}
/* vietnamese */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/NUrn2XQrRfyGZp5MknntaRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/s2PXW4WrV3VLrOUpHiqsfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v6/32nyIRHyCu6iqEka_hbKsv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v6/32nyIRHyCu6iqEka_hbKsj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v6/32nyIRHyCu6iqEka_hbKsugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#bo{
  flex: 20;
}
#p1{

  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;



}
#p0{

  background-repeat: no-repeat;
  background-size: 100% 95%;
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  z-index: 2;
  text-align: center;
  font-family: opensans;
  align-items: center;
  justify-content: center;


}
#anthum{
  background-color: rgb(0,0,0);
  color: white;
  font-family: sam;
  font-size: 30px;
  text-align: center;
  padding: 5vh;
  flex: 2.75;
}
.anthumtop{
  font-size: 50px;
  font-family: rio;
  font-weight: bold;
}
@media screen and (min-width: 800px){
  #p0{
    background-image: url("images/hall/desktop/hall.png");
  }
  #p1{
    background-image: url("images/hall/desktop/hallenterence.jpg");
  }
  #p2{
    background-image: url("images/hall/desktop/mess.jpg");
  }
  #p3{
    background-image: url("images/hall/desktop/halloffice.jpg");
  }
  #p4{
    background-image: url("images/hall/desktop/coridoor.jpg");
  }
  #p6{
    background-image: url("images/hall/desktop/corridorside.jpg");
  }
  #az{
    visibility: hidden;
    z-index: -111;
    height: 0px;
  }
#anthum{
  font-size: 30px;
}
#link{
  height: 100%;
}
#shivaji{
  flex: 1;
  background-image: url(shivaji.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
  #azara{
    font-size: 40px;
  }
}
@media screen and (max-width: 800px){
  #p0{
    background-image: url("images/hall/mobile/hall.jpg");
  }
  #p1{
    background-image: url("images/hall/mobile/canteen.jpg");
  }
  #p2{
    background-image: url("images/hall/mobile/mess.jpg");
  }
  #p3{
    background-image: url("images/hall/mobile/halloffice.jpg");
  }
  #p4{
    background-image: url("images/hall/mobile/corridor.jpg");
  }
  #p6{
    background-image: url("images/hall/mobile/corridors.jpg");
  }
  #link{
    visibility: hidden;
    z-index: -111;
    height: 0px;
  }
  #az{
    height: 100%;
  }
  #anthum{
    font-size: 20px;
  }
  #azara{
    font-size: 20px;
  }
}
#p2{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  width: 100%;
  height: 100%;
  position: absolute;


  display: flex;
    justify-content: center;
}
#p3{


  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 95%;;
  width: 100%;
  height: 100%;
  position: absolute;

}
#p4{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  width: 100%;
  height: 100%;
  position: absolute;


}
#p5{

  visibility: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  width: 100%;
  height: 100%;
  position: absolute;


  display: flex;
}
#p6{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 95%;  width: 100%;
  height: 100%;
  position: absolute;

  visibility: hidden;
  z-index: -1;
}
#cssmenu{
  z-index: 999;
}
.pa{

  color: white;
  margin: 2vh;
  min-width: 280px;
  max-width: 280px;
  min-height: 280px;
  max-height: 280px;
  border-radius: 2vh;
  background-repeat: no-repeat;
  border: groove;
  background-size: 100% 100%;
  box-shadow: 10px 5px 20px #888888;
  float: left;
}
a{
  text-decoration: none;
  color: white;
}
.paa{
  text-align: center;
  font-size: 15px;
  vertical-align: bottom;
  font-family: rom;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2));
  margin-top: 80%;
}
#link{
  display: flex;
  top: 0px;
}
#az{
  top: 0px;
  width: 100%;
  z-index: 1;
}
#links{
  top: 0px;
  flex: 1;
  z-index: 1;
}
.hi{
  visibility: hidden;
}
.pa:hover>.paa{
  background-image: linear-gradient(rgba(0,0,0,0.7) 35%,rgba(0,0,0,0.3));
}
.pa:hover{
      box-shadow: 10px 10px 40px rgb(0,0,0);
}
.pa:hover > .paa>.hi{visibility: visible;}
a:visited{
  text-decoration: none;
}
.helli{
  width: 90%;
  background-color: rgba(255,255,255,0.3);
  margin: auto;
  min-height: 10vh;
  max-height: 75vh;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hellx{
  width: 90%;
  background-color: rgba(255,255,255,0.3);
  margin: auto;
  min-height: 10vh;
  max-height: 75vh;
  flex:2.75;
  height: auto;
  overflow-y: scroll;
}
.hellio{
text-align: center;
font-size: 10vh;
font-family: rio;
height: 12vh;
width: 100%;
font-weight: bold;

}
form{
  margin: auto;
  font-family: rio;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255,255,255,.3);
  padding: 1vh;
  width: 50%;
  margin-bottom:4vh;
  font-size: 4vh;
}
#flip,#fli,#fl,#flii,#fliii,.linked,#fliiii{
  margin: auto;
  margin-top: 2vh;
  font-family: ubuntu;
  text-align: center;
  background-color: rgba(10,10,10,0.5);
  padding: 1vh;
  color:rgb(200,200,200);
  width: 50%;
  margin-bottom:2vh;
  font-size: 2vh;
  height: 25px;
}
#panel,#pane,#pan ,#pann,#pannn,#pannnn{
  text-align: center;
  padding: 1vh;
  margin-bottom:2vh;
  font-size: 4vh;
  display: none;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: rom;
  font-size: 2vh;
}

.button,button,input[type=submit],input[type=reset] {
  font-family: rom;
  font-size: 2vh;
  min-width: 5vh;
  max-width: 20vh;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.club{
  position:absolute;
  display:hidden;
  top:40%;
  left: 0%;
  right: 0%;
  width: 88%;
  height: 50%;
  margin-left: 6%;
  background-color: rgba(255  ,255,255,0.3);
  visibility: hidden;
  z-index:0;
  padding:5px;
}
#mess{
  flex: 1;
}
#bbbb{
  background-color: rgba(0,00,00,0.6);
  margin: 4vh;
  text-align: center;
  font-family: rom;
  color: white;
  padding: 3vh;
}
/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  min-height:19px;
  font-family: 'Quicksand', sans-serif;
}

header {
  background: rgba(90,90,90,1);
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
  z-index: 999;
}

header::after {
  content: '';
  clear: both;
  display: block;
}
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}

.site-nav--open {
  clip-path: circle(150% at top right);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: rgb(209, 209, 192);
  display: block;
  padding: 1em 4em 1em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 960px) {

  .menu-toggle {
    display: none;
  }

  .site-nav {
    width: 100vw;
    height: auto;
    position: relative;
    background: transparent;
    float: left;
    clip-path: initial;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }

}
