body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

}
@font-face {
   font-family: sam;
   src: url('sam.ttf');
}
@font-face {
   font-family: sama;
   src: url('aileron.bold.otf');
}
@font-face {
   font-family: ubuntu;
   src: url('Ubuntu-Bold.ttf');
}
@font-face {
   font-family: myFont;
   src: url('Artifika-Regular.ttf');
}
@font-face {
   font-family: myFirstFont;
   src: url('Fax.otf');
}
@font-face {
   font-family: rom;
   src: url('Rom.ttf');
}
@font-face {
   font-family: rio;
   src: url('rio.ttf');
}
#whole{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}
#bo{
  flex: 20;
}
#p1{

  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 20px 0px 80px #888888;

}
#p0{

  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 40px rgb(0,0,0);
  display: flex;
  z-index: 2;
  text-align: center;
  font-family: opensans;


}
#anthum{
  background-color: rgb(0,0,0);
  color: white;
  font-family: sam;
  font-size: 30px;
  text-align: center;
  padding: 5vh;
  flex: 2.75;
}
#anthumtop{
  font-size: 10vh;
}
@media screen and (min-width: 800px){
  #p0{
    background-image: url("images/hall/desktop/hall.jpg");
  }
  #p1{
    background-image: url("images/hall/desktop/hallenterence.jpg");
  }
  #p2{
    background-image: url("images/hall/desktop/mess.jpg");
  }
  #p3{
    background-image: url("images/hall/desktop/halloffice.jpg");
  }
  #p4{
    background-image: url("images/hall/desktop/coridoor.jpg");
  }
  #p6{
    background-image: url("images/hall/desktop/corridorside.jpg");
  }
  #az{
    visibility: hidden;
    z-index: -111;
    height: 0px;
  }
#anthum{
  font-size: 30px;
}
#link{
  height: 100%;
}
#shivaji{
  flex: 1;
  background-image: url(shivaji.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
}
@media screen and (max-width: 800px){
  #p0{
    background-image: url("images/hall/mobile/hall.jpg");
  }
  #p1{
    background-image: url("images/hall/mobile/canteen.jpg");
  }
  #p2{
    background-image: url("images/hall/mobile/mess.jpg");
  }
  #p3{
    background-image: url("images/hall/mobile/halloffice.jpg");
  }
  #p4{
    background-image: url("images/hall/mobile/corridor.jpg");
  }
  #p6{
    background-image: url("images/hall/mobile/corridors.jpg");
  }
  #link{
    visibility: hidden;
    z-index: -111;
    height: 0px;
  }
  #az{
    height: 100%;
  }
  #anthum{
    font-size: 20px;
  }
}
#p2{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 30px 0px 80px rgb(0,0,0);

}
#p3{


  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 40px rgb(0,0,0);
}
#p4{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 40px rgb(0,0,0);

}
#p5{

  visibility: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 30px 0px 80px rgb(0,0,0);
  display: flex;
}
#p6{
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 10px 10px 40px rgb(0,0,0);
  visibility: hidden;
  z-index: -1;
}
#cssmenu{
  z-index: 999;
}
.pa{

  color: white;
  margin: 2vh;
  min-width: 280px;
  max-width: 280px;
  min-height: 280px;
  max-height: 280px;
  border-radius: 2vh;
  background-repeat: no-repeat;
  border: groove;
  background-size: 100% 100%;
  box-shadow: 10px 5px 20px #888888;
  float: left;
}
a{
  text-decoration: none;
}
.paa{
  text-align: center;
  font-size: 15px;
  vertical-align: bottom;
  font-family: rom;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2));
  margin-top: 80%;
}
#link{
  display: flex;
  top: 0px;
}
#az{
  top: 0px;
  width: 100%;
  z-index: 1;
}
#links{
  top: 0px;
  flex: 1;
  z-index: 1;
}
.hi{
  visibility: hidden;
}
.pa:hover>.paa{
  background-image: linear-gradient(rgba(0,0,0,0.7) 35%,rgba(0,0,0,0.3));
}
.pa:hover{
      box-shadow: 10px 10px 40px rgb(0,0,0);
}
.pa:hover > .paa>.hi{visibility: visible;}
a:visited{
  text-decoration: none;
}
.helli{
  width: 90%;
  background-color: rgba(100,100,100,0.6);
  margin: auto;
  min-height: 10vh;
  max-height: 75vh;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hellx{
  width: 90%;
  background-color: rgba(100,100,100,0.6);
  margin: auto;
  min-height: 10vh;
  max-height: 75vh;
  flex:2.75;
  height: auto;
  overflow-y: scroll;
}
.hellio{
text-align: center;
font-size: 10vh;
font-family: rio;
height: 12vh;
width: 100%;

}
form{
  margin: auto;
  margin-top: 10vh;
  font-family: rio;
  text-align: center;
  background-color: rgba(100,100,100,0.6);
  padding: 1vh;
  width: 50%;
  margin-bottom:4vh;
  font-size: 4vh;
}
#flip,#fli,#fl,#flii,#fliii,.linked{
  margin: auto;
  margin-top: 2vh;
  font-family: ubuntu;
  text-align: center;
  background-color: rgba(10,10,10,0.5);
  padding: 1vh;
  color:rgb(200,200,200);
  width: 50%;
  margin-bottom:2vh;
  font-size: 2vh;
  height: 30px;
}
#panel,#pane,#pan ,#pann,#pannn{
  text-align: center;
  padding: 1vh;
  margin-bottom:2vh;
  font-size: 4vh;
  display: none;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: rom;
  font-size: 2vh;
}

.button,button,input[type=submit],input[type=reset] {
  font-family: rom;
  font-size: 2vh;
  min-width: 5vh;
  max-width: 20vh;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.club{
  position:absolute;
  display:hidden;
  top:40%;
  left: 0%;
  right: 0%;
  width: 88%;
  height: 50%;
  margin-left: 6%;
  background-color: rgba(100,100,100,0.6);
  visibility: hidden;
  z-index:0;
  padding:5px;
}
#mess{
  flex: 1;
}
#bbbb{
  background-color: rgba(0,00,00,0.6);
  margin: 4vh;
  text-align: center;
  font-family: rom;
  color: white;
  padding: 3vh;
}
